extends layout

block content
	script(src='/javascripts/notes.js')
	div.container(ng-app='appNotes' ng-controller='notesCtrl')
		h3.header(ng-click='showAddNote=true') 写一条儿 (Add A Note) 
		form.form-horizontal(method="post", id="addNoteForm", action='/addNote' ng-show='showAddNote')
			label About Who (谁)
			select(name='about' id='about')
				option(ng-repeat='x in members' ng-value='x.email') {{x.firstname+' '+x.lastname}}
			| <br><br>	
			label KeyWord (主题)
			input.span3(id="keyword", name="keyword" required)
			| <br><br>
			label Details (什么)
			input.span3(id="detail", name="detail")
			| <br><br>
			label Value (量度)
			input.span3(id="value", name="value")
			| <br><br>
			input.btn(type="button", value="Save" ng-click='addNote()')
		h3.header(ng-click='showAddNote=false') 今儿有啥 (What Happened Today)
		div(ng-show='!showAddNote')
			div(ng-repeat='note in notes')
				p About {{note.about}}, {{note.keyword}}, {{note.details}}, Written By {{note.creator}}
		h3.header 生活数字 (Life D)	

		a.btn.btn-warning(href='/logout') Logout

