body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


.header{
	background-color:#87CEFA;
	padding-left: 10px;
}

.header:hover{
	cursor: pointer;
}

input{
	padding-left: 10px;
}

.block{
	display: inline-block;
	margin-right: 10px;
}


.wrapper{
	display:inline-block;
}

.login-form{
	width: 100%;
	margin:0 auto;
	margin-top: 5px;
}

.login-form label{
	text-align: left;
	font-weight: bold;
	border: none;
}

.login-form input{
	width: 100%;
	box-sizing : border-box;	
}

.login-form input{
	width: 100%;
	box-sizing : border-box;	
	height: 30px;
}


#btnLogin{
	width: 100%;
}